.auth {
    width: 1000px;
    margin: auto;
}
.auth-title {
   font-size: 2rem;
   margin-top: 15rem; 
}

.auth-title > span {
    font-size: 5rem;
}

.auth-form {
    width: 20%;
}

.auth-form > input {
    width: calc(100% - 1.5rem);
    margin-bottom: 0.5rem;
}

.auth-form-submit {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.submit-btn {
    padding: 0.5rem 0.75rem;
    border-radius: 45px;
    background: #28b2fc;
    color: white;
    text-align: center;
    cursor: pointer;
}

.redirect-link {
    cursor: pointer;
    margin-left: 0.75rem;
}