
.home, .welcome {
    width: 1000px;
    margin: 0 auto;
    margin-top: 1rem;
    
}

.home {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.welcome {
    font-size: 1.25rem;
}

.welcome > span {
    font-size: 1.50rem;
}

.home-posts {
    margin-right: 1rem;
}
