@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: none;
  background: #ebebeb;
  padding: 0.5rem 0.75rem;
  border-radius: 45px;
  margin-right: 0.75rem;
}

input {
  outline: none;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-weight: 300;
}

img {
  vertical-align: middle;
}

.container {
  background: #f7f7f7;
  min-height: 100vh;
}
